@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

$font-body : 'Atkinson Hyperlegible', sans-serif;

$color-black: black;
$color-white1: #F2F3F7;
$color-white2: #f5f5f5;
$color-grey: #484848;

$small: 576px;
$medium: 768px;

* {
    padding: 0;
    margin: 0;
    font-family: $font-body;
    box-sizing: border-box;
}

body {
    background-color: #ced2d1
}
.calculator {
    padding: 45px 0 50px;
    width: 100%;
    height: 100vh;
    max-width: 400px;
    margin: 0 auto;
    background-color: $color-white2;
    border-radius: 20px;
    box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55);


    @media screen and (min-width: $small){
        margin-top: 50px;
        max-height: 625px;
        padding-top: 75px;
    }

    &__screen {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        margin: 50px 20px 25px;
        height: 150px;
        background-color: $color-white1;
        border-radius: 15px;
        box-shadow: inset 5px 5px 10px 0 rgba(0, 0, 0, 0.2),
            inset -5px -5px 10px 0 rgba(255, 255, 255, 0.5);

        &--value {
            text-align: right;
            margin: 10px 20px;

        }

        .prev {
            font-size: 20px;
            color: $color-grey;
        }

        .current {
            font-size: 30px;
            font-weight: bold;
        }
    }

    &__buttons {
        margin: 20px 25px;
        height: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
        text-align: center;
        

        div {
            height: 50px;
        }

        &--symbol {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
            color: $color-white1;
            text-align: center;
            border-radius: 15px;
            cursor: pointer;
            box-shadow: 12px 12px 16px -2px rgba(255, 255, 255, 0.3) inset,
                -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
                &:hover{
                    box-shadow: 12px 12px 16px -12px rgba(255, 255, 255, 0.3) inset,
                    -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
                }
        }

        &--number {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-white1;
            color: black;
            text-align: center;
            border-radius: 15px;
            cursor: pointer;
            box-shadow: 12px 12px 10px 0px rgb(255 255 255 / 30%) inset, -5px -8px 12px -9px rgb(0 0 0 / 25%) inset;
            &:hover{
                box-shadow: 12px 12px 10px 0px rgb(255 255 255 / 30%) inset, -5px 8px 12px -9px rgb(0 0 0 / 25%) inset;
            }
        }

        p {
            pointer-events: none;
        }
    }
}